.vs/Krakout/v15/ipch/AutoPCH/c3258b5a542ab52c/CLIENTE.ipch
.vs/Krakout/v15/ipch/AutoPCH/bc5333ae5521fc4c/SERVIDOR.ipch
.vs/Krakout/v15/ipch/AutoPCH/8fd6afec311ebb5e/SERVIDOR.ipch
.vs/Krakout/v15/ipch/AutoPCH/46536e924d54e1a6/CLIENTE.ipch
.vs/Krakout/v15/ipch/AutoPCH/31ff7ce257e7ba84/BASE.ipch
.vs/Krakout/v15/ipch/AutoPCH/14e7912502ed22cf/DLL.ipch
.vs/Krakout/v15/ipch/61c4bb24295a9906.ipch
.vs/Krakout/v15/ipch/23c663afa4ee3d0f.ipch
.vs/Krakout/v15/Solution.VC.db-wal
.vs/Krakout/v15/Solution.VC.db-shm
.vs/Krakout/v15/Solution.VC.db
.vs/Krakout/v15/Browse.VC.opendb
.vs/Krakout/v15/.suo
.vs/Krakout/v15/Browse.VC.db
