.vs/Krakout/v15/ipch/AutoPCH/c3258b5a542ab52c/CLIENTE.ipch
.vs/Krakout/v15/ipch/AutoPCH/bc5333ae5521fc4c/SERVIDOR.ipch
.vs/Krakout/v15/ipch/AutoPCH/8fd6afec311ebb5e/SERVIDOR.ipch
.vs/Krakout/v15/ipch/AutoPCH/46536e924d54e1a6/CLIENTE.ipch
.vs/Krakout/v15/ipch/AutoPCH/31ff7ce257e7ba84/BASE.ipch
.vs/Krakout/v15/ipch/AutoPCH/14e7912502ed22cf/DLL.ipch
.vs/Krakout/v15/ipch/61c4bb24295a9906.ipch
.vs/Krakout/v15/ipch/23c663afa4ee3d0f.ipch
.vs/Krakout/v15/Solution.VC.db-wal
.vs/Krakout/v15/Solution.VC.db-shm
.vs/Krakout/v15/Solution.VC.db
.vs/Krakout/v15/Browse.VC.opendb
.vs/Krakout/v15/.suo
.vs/Krakout/v15/Browse.VC.db
.vs/Krakout/v15/ipch/AutoPCH/c13ed91516813587/CLIENTE.ipch
.vs/Krakout/v15/ipch/AutoPCH/1ee125651d70708f/BASE.ipch
.vs/Krakout/v15/ipch/AutoPCH/140671651319c3dd/SERVIDOR.ipch
Krakout/Debug/vc141.idb
Krakout/Debug/Servidor.tlog/link.write.1.tlog
Krakout/Debug/Servidor.tlog/link.read.1.tlog
Krakout/Debug/Servidor.obj
Krakout/Debug/Krakout.log
Debug/Servidor.pdb
Debug/Servidor.ilk
Debug/DLL.pdb
Cliente/Debug/Cliente.tlog/link.read.1.tlog
Cliente/Debug/Cliente.obj
Cliente/Debug/Cliente.log
Krakout/Debug/vc141.pdb
Debug/DLL.ilk
Debug/DLL.exp
Debug/Cliente.pdb
Debug/Cliente.ilk
DLL/cpp.hint
DLL/Debug/vc141.pdb
DLL/Debug/vc141.idb
DLL/Debug/DLL.tlog/link.write.1.tlog
DLL/Debug/DLL.tlog/link.read.1.tlog
DLL/Debug/DLL.tlog/link.delete.1.tlog
DLL/Debug/DLL.tlog/DLL.write.1u.tlog
DLL/Debug/DLL.obj
DLL/Debug/DLL.log
Cliente/Debug/vc141.pdb
Cliente/Debug/vc141.idb
Cliente/Debug/Cliente.tlog/link.write.1.tlog
.vs/Krakout/v15/ipch/AutoPCH/bdd3b6989136f8c6/GATEWAY.ipch
.vs/Krakout/v15/ipch/AutoPCH/603f7d8c6555c6/SERVIDOR.ipch
.vs/Krakout/v15/ipch/AutoPCH/14bdb9d729a89776/SERVIDOR.ipch
.vs/Krakout/v15/ipch/AutoPCH/b1c8ed2341403276/GATEWAY.ipch
Krakout/Debug/Servidor.tlog/CL.read.1.tlog
Krakout/Debug/servidor.obj.enc
