.vs/Krakout/v15/ipch/AutoPCH/c3258b5a542ab52c/CLIENTE.ipch
.vs/Krakout/v15/ipch/AutoPCH/bc5333ae5521fc4c/SERVIDOR.ipch
.vs/Krakout/v15/ipch/AutoPCH/8fd6afec311ebb5e/SERVIDOR.ipch
.vs/Krakout/v15/ipch/AutoPCH/46536e924d54e1a6/CLIENTE.ipch
.vs/Krakout/v15/ipch/AutoPCH/31ff7ce257e7ba84/BASE.ipch
.vs/Krakout/v15/ipch/AutoPCH/14e7912502ed22cf/DLL.ipch
.vs/Krakout/v15/ipch/61c4bb24295a9906.ipch
.vs/Krakout/v15/ipch/23c663afa4ee3d0f.ipch
.vs/Krakout/v15/Solution.VC.db-wal
.vs/Krakout/v15/Solution.VC.db-shm
.vs/Krakout/v15/Solution.VC.db
.vs/Krakout/v15/Browse.VC.opendb
.vs/Krakout/v15/.suo
.vs/Krakout/v15/Browse.VC.db
.vs/Krakout/v15/ipch/AutoPCH/c13ed91516813587/CLIENTE.ipch
.vs/Krakout/v15/ipch/AutoPCH/1ee125651d70708f/BASE.ipch
.vs/Krakout/v15/ipch/AutoPCH/140671651319c3dd/SERVIDOR.ipch
Krakout/Debug/vc141.idb
Krakout/Debug/Servidor.tlog/link.write.1.tlog
Krakout/Debug/Servidor.tlog/link.read.1.tlog
Krakout/Debug/Servidor.obj
Krakout/Debug/Krakout.log
Debug/Servidor.pdb
Debug/Servidor.ilk
Debug/DLL.pdb
Cliente/Debug/Cliente.tlog/link.read.1.tlog
Cliente/Debug/Cliente.obj
Cliente/Debug/Cliente.log
Krakout/Debug/vc141.pdb
Debug/DLL.ilk
Debug/DLL.exp
Debug/Cliente.pdb
Debug/Cliente.ilk
DLL/cpp.hint
DLL/Debug/vc141.pdb
DLL/Debug/vc141.idb
DLL/Debug/DLL.tlog/link.write.1.tlog
DLL/Debug/DLL.tlog/link.read.1.tlog
DLL/Debug/DLL.tlog/link.delete.1.tlog
DLL/Debug/DLL.tlog/DLL.write.1u.tlog
DLL/Debug/DLL.obj
DLL/Debug/DLL.log
Cliente/Debug/vc141.pdb
Cliente/Debug/vc141.idb
Cliente/Debug/Cliente.tlog/link.write.1.tlog
.vs/Krakout/v15/ipch/AutoPCH/bdd3b6989136f8c6/GATEWAY.ipch
.vs/Krakout/v15/ipch/AutoPCH/603f7d8c6555c6/SERVIDOR.ipch
.vs/Krakout/v15/ipch/AutoPCH/14bdb9d729a89776/SERVIDOR.ipch
.vs/Krakout/v15/ipch/AutoPCH/b1c8ed2341403276/GATEWAY.ipch
Krakout/Debug/Servidor.tlog/CL.read.1.tlog
Krakout/Debug/servidor.obj.enc
.vs/Krakout/v15/ipch/ab6c32359bace0.ipch
x64/Debug/DLL.dll
x64/Debug/Cliente.pdb
x64/Debug/Servidor.pdb
x64/Debug/DLL.pdb
x64/Debug/DLL.lib
x64/Debug/DLL.ilk
x64/Debug/DLL.exp
Krakout/x64/Debug/Servidor.tlog/link.command.1.tlog
Krakout/x64/Debug/Servidor.tlog/link-rc.write.1.tlog
Krakout/x64/Debug/Servidor.tlog/link-rc.read.1.tlog
Krakout/x64/Debug/Servidor.tlog/link-cvtres.write.1.tlog
Krakout/x64/Debug/Servidor.tlog/link-cvtres.read.1.tlog
Krakout/x64/Debug/Servidor.tlog/Servidor.lastbuildstate
Krakout/x64/Debug/Servidor.tlog/CL.write.1.tlog
Krakout/x64/Debug/Servidor.tlog/unsuccessfulbuild
Krakout/x64/Debug/Servidor.tlog/link.write.1.tlog
Krakout/x64/Debug/Servidor.tlog/link.read.1.tlog
Krakout/x64/Debug/Servidor.tlog/CL.read.1.tlog
Krakout/x64/Debug/Servidor.tlog/CL.command.1.tlog
Cliente/~VC1D9C.tmp
.vs/Krakout/v16/ipch/ab6c32359bace0.ipch
.vs/Krakout/v16/ipch/8b08cf50f038c49e.ipch
.vs/Krakout/v16/Solution.VC.db
.vs/Krakout/v16/Browse.VC.db
.vs/Krakout/v16/.suo
.vs/Krakout/v15/ipch/eee03db5312d516b.ipch
.vs/Krakout/v15/ipch/8b08cf50f038c49e.ipch
.vs/Krakout/v15/ipch/716edcc5dfed93c9.ipch
.vs/Krakout/v15/ipch/690e186dc795fb9d.ipch
.vs/Krakout/v15/ipch/676a71ebcf4ac934.ipch
Cliente/x64/Debug/Cliente.tlog/link-rc.read.1.tlog
Cliente/x64/Debug/Cliente.tlog/link-cvtres.write.1.tlog
Cliente/x64/Debug/Cliente.tlog/link-cvtres.read.1.tlog
Cliente/x64/Debug/Cliente.tlog/Cliente.lastbuildstate
Cliente/x64/Debug/Cliente.tlog/CL.write.1.tlog
Cliente/x64/Debug/Cliente.tlog/CL.read.1.tlog
Cliente/x64/Debug/Cliente.tlog/CL.command.1.tlog
Krakout/x64/Debug/pch.obj
Krakout/x64/Debug/Krakout.log
DLL/x64/Debug/vc141.pdb
DLL/x64/Debug/vc141.idb
DLL/x64/Debug/stdafx.obj
DLL/x64/Debug/dllmain.obj
DLL/x64/Debug/DLL.tlog/link.write.1.tlog
DLL/x64/Debug/DLL.tlog/link.read.1.tlog
DLL/x64/Debug/DLL.tlog/link.command.1.tlog
DLL/x64/Debug/DLL.tlog/DLL.write.1u.tlog
DLL/x64/Debug/DLL.tlog/DLL.lastbuildstate
DLL/x64/Debug/DLL.tlog/CL.write.1.tlog
DLL/x64/Debug/DLL.tlog/CL.read.1.tlog
DLL/x64/Debug/DLL.tlog/CL.command.1.tlog
DLL/x64/Debug/DLL.pch
DLL/x64/Debug/DLL.obj
DLL/x64/Debug/DLL.log
Cliente/x64/Debug/vc141.pdb
Cliente/x64/Debug/Cliente.tlog/unsuccessfulbuild
Cliente/x64/Debug/Cliente.tlog/rc.write.1.tlog
Cliente/x64/Debug/Cliente.tlog/rc.read.1.tlog
Cliente/x64/Debug/Cliente.tlog/rc.command.1.tlog
Cliente/x64/Debug/Cliente.tlog/link.write.1.tlog
Cliente/x64/Debug/Cliente.tlog/link.read.1.tlog
Cliente/x64/Debug/Cliente.tlog/link.command.1.tlog
Cliente/x64/Debug/Cliente.tlog/link-rc.write.1.tlog
Krakout/x64/Debug/vc141.pdb
Krakout/x64/Debug/vc141.idb
Krakout/x64/Debug/Servidor.pch
Krakout/x64/Debug/Servidor.obj
Cliente/~VCCEAF.tmp
Cliente/~VCCEAE.tmp
Cliente/~VCCEAB.tmp
Cliente/~VCCEAA.tmp
Cliente/~VC521.tmp
Cliente/~VC520.tmp
Cliente/~VC50E.tmp
Cliente/~VC50D.tmp
Cliente/~VC1D9F.tmp
Cliente/~VC1D9E.tmp
Cliente/~VC1D9D.tmp
Cliente/x64/Debug/vc141.idb
Cliente/x64/Debug/pch.obj
Cliente/x64/Debug/Cliente.res
Cliente/x64/Debug/Cliente.pch
Cliente/x64/Debug/Cliente.obj
Cliente/x64/Debug/Cliente.log
Cliente/icon3.ico
Cliente/arrow.cur
Cliente/Debug/Cliente.tlog/rc.write.1.tlog
Cliente/Debug/Cliente.tlog/rc.read.1.tlog
Cliente/Debug/Cliente.tlog/rc.command.1.tlog
Cliente/Debug/Cliente.res
Cliente/Cliente.aps
DLL/Debug/DLL.tlog/DLL.lastbuildstate
DLL/Debug/DLL.tlog/CL.write.1.tlog
DLL/Debug/DLL.tlog/CL.read.1.tlog
Cliente/Debug/Cliente.tlog/Cliente.lastbuildstate
Cliente/Debug/Cliente.tlog/CL.write.1.tlog
Cliente/Debug/Cliente.tlog/CL.read.1.tlog
Cliente/Debug/Cliente.tlog/CL.command.1.tlog
Cliente/Debug/Cliente.pch
Cliente/Cliente.vcxproj.filters
Krakout/Debug/pch.obj
DLL/Debug/stdafx.obj
DLL/Debug/dllmain.obj
DLL/Debug/DLL.tlog/link.command.1.tlog
DLL/Debug/DLL.tlog/CL.command.1.tlog
DLL/Debug/DLL.pch
Cliente/Debug/pch.obj
Cliente/Debug/Cliente.tlog/link.command.1.tlog
Krakout/Debug/Servidor.tlog/link.command.1.tlog
Krakout/Debug/Servidor.tlog/Servidor.lastbuildstate
Krakout/Debug/Servidor.tlog/CL.write.1.tlog
Krakout/Debug/Servidor.tlog/CL.read.1.tlog
Krakout/Debug/Servidor.tlog/CL.command.1.tlog
Krakout/Debug/Servidor.pch
Krakout/Debug/Servidor.tlog/unsuccessfulbuild
DLL/Debug/DLL.vcxproj.FileListAbsolute.txt
DLL/Debug/DLL.Build.CppClean.log
Cliente/Debug/Cliente.vcxproj.FileListAbsolute.txt
Cliente/Debug/Cliente.Build.CppClean.log
.vs/Krakout/v16/ipch/eee03db5312d516b.ipch
.vs/Krakout/v16/ipch/690e186dc795fb9d.ipch
.vs/Krakout/v16/ipch/676a71ebcf4ac934.ipch
.vs/Krakout/v16/Solution.VC.db-wal
.vs/Krakout/v16/Solution.VC.db-shm
.vs/Krakout/v16/Browse.VC.opendb
Cliente/Cliente.vcxproj
